<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>isl</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>DNcBMlHPzQJlyUzZ/m3QRMKOqrOYdTkLLJyLbk7Qosh9Ey2a50fatx3fKAqux8w8</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>isl@ubuntu.ubuntu-domain</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>